<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>lecture</title>
    <style>
        .places{
            border: 1px solid black;
            display: inline-block;
            margin: 15px;
            width: 150px;
            height: 150px;
        }
        #activities {
            border: 1px solid black;
            height: 900px;
            width: 1500px;
        }
    </style>
</head>
<body>
    <p>Your gold: {{request.session.total_gold}}</p>
    <div class="places">
        <h3>Farm</h3>
        <p>(earns 10-20 gold)</p>
        <form action="/process_money" method="post">
            {% csrf_token %}
            <input type="hidden" name="location" value="farm">
            <input type="submit" value="Find Gold">
        </form>
    </div>
    <p>Your gold:</p> 
    <div class="places">
        <h3>cave</h3>
        <p>(earns 10-20 gold)</p>
        <form action="/process_money" method="post">
            {% csrf_token %}
            <input type="submit" value="Find Gold">
        </form>
    </div>
    <p>Your gold:</p>
    <div class="places">
        <h3>house</h3>
        <p>(earns 10-20 gold)</p>
        <form action="/process_money" method="post">
            {% csrf_token %}
            <input type="submit" value="Find Gold">
        </form>
    </div>
    <p>Your gold:</p>
    <div class="places">
        <h3>casino</h3>
        <p>(earns 10-20 gold)</p>
        <form action="/process_money" method="post">
            {% csrf_token %}
            <input type="submit" value="Find Gold">
        </form>
    </div>
    <p>Activities</p>
    <div id = "activities"></div>
        {{% for activity in request.session.activity_log %}}
        {% if 'lost' in  activity %}
        <p style = "color: red;">{{activity}}</p>
        {% else %}
        <p style = "color: green;">{{activity}}</p>

</body>
</html>